*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: #120f1b;
    font-family:"Poppins",sans-serif;
}

.container{
    display:flex;
    min-height:100vh;
    padding:25px;
    gap:20px;
}

.sidebar{
    width:95px;
    background:#202938;
    border-radius:20px;
    color:#ffffff;


    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}

.main-content{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    gap:25px;
}

input{
    padding:14px 20px;
    border-radius:10px;
    border:none;
    width:85%;
    align-self:center;

    background:#202938;
    color:#ffffff;
    font-size:16px;
}

input::placeholder{
    color:#999;
}

.weather-info{
    height:35%;
    background:none;
    border-radius:20px;
}

.hourly-forecast{
    height:30%;
    background:#202938;
    border-radius:20px;
}

.air-conditions{
    height:35%;
    background:#202938;
    border-radius:20px;
}

.forecast{
    width:400px;
    margin-top:70px;
    background:#202938;
    border-radius:20px;
}

.nav-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;

    cursor:pointer;
    color:#b4bcc8;
    transition:0.3s;
}

.nav-items svg{
    width:24px;
    height:24px;
}

.nav-items span{
    font-size:12px;
}

.nav-item:hover{
    color:#ffffff;
}

.nav-item .active{
    color:#ffffff;
}

.sidebar img{
    width:45px;
    height:45px;
    margin-top:35px;
    cursor:pointer;
}

.sidebar img:hover{
    transform:scale(1.1);
    transition:0.3s;
}

.weather-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding:30px 40px;
}

.weather-text{
    display:flex;
    flex-direction: column;
    gap:4px;
    color:#c0c0c0;
}

.weather-info img{
    width:200px;
    height:200px;
    align-self: flex-start;
}

.temperature{
    font-size:70px;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
    font-weight:700;
}

.city{
    font-size: 30px;
    font-weight: normal;
}